/* Whole page */
body {
  background-color: bisque;
}

/* Header */
header {
  background-color: salmon;
  border-style: dotted;
  height: 350px;
  display: flex;
}

.skills-photo {
  margin: 10px;
  padding: 10px;
  width: 500px;
  height: auto;
}

h1 {
  color: purple;
  text-align: center;
  font-family: fantasy;
  font-size: 100px;
  margin: 100px;
  padding: 10px;
}

/*Main*/
main {
  display: flex;
}

/*Navigation*/
nav {
  margin-top: 10px;
  margin-right: 40px;
  padding: 10px;
  border-style: dotted;
  width: 200px;
}

#nav-title {
  text-align: center;
}

#intro-nav {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

#hob-nav {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

#skill-nav {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

#spot-nav {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.mag-img {
  width: 100px;
  height: auto;
  margin: 10px;
  padding: 10px;
}

.main-body-txt {
  width: 700px;
  border-style: dotted;
  margin-top: 10px;
}

#my-skills-txt {
  font-size: 30px;
  margin: 20px;
  text-align: center;
}

dl {
  margin: 20px;
  font-size: 20px;
}

dt {
  color: #5b5bae;
  margin-top: 10px;
}

/*Footer*/
footer {
  margin-top: 10px;
  background-color: salmon;
  border-style: dotted;
  height: 350px;
  display: flex;
}

.contacts-foot {
  margin: 10px;
  padding: 10px;
  border-style: dotted;
  height: 200px;
}

.gmail-pic {
  display: block;
  /*makes it into a block format*/
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: auto;
}

.copyright-info {
  text-align: center;
  display: block;
  /*makes it into a block format*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.bb-pic {
  width: 400px;
  height: auto;
  margin: 30px;
}

.pc-pic {
  width: 400px;
  height: auto;
  margin: 30px;
}

.biking-pic {
  width: 400px;
  height: auto;
  margin: 30px;
}

.rubik-pic {
  width: 400px;
  height: auto;
  margin: 30px;
}